<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

	<extension 
          point="org.eclipse.debug.core.launchConfigurationTypes"> 
        <launchConfigurationType 
            delegate="org.nodeclipse.enide.gradle.launch.LaunchConfigurationDelegate" 
            id="org.nodeclipse.enide.gradle.launch.LaunchConfigurationType" 
            modes="run" 
            name="gradle build">
        </launchConfigurationType> 
    </extension>
    <extension
          point= "org.eclipse.debug.ui.launchConfigurationTypeImages" >   
       <launchConfigurationTypeImage   
             configTypeID= "org.nodeclipse.enide.gradle.launch.LaunchConfigurationType"   
             icon= "icons/gradle-icon-16x16_bottom_right_corner_run_half_size.png"   
             id= "org.nodeclipse.enide.gradle.launch.LaunchConfigurationTypeImage" >   
       </launchConfigurationTypeImage>   
    </extension>
    <extension
        point="org.eclipse.debug.ui.launchConfigurationTabGroups">
        <launchConfigurationTabGroup   
       		class= "org.nodeclipse.enide.gradle.launch.LaunchConfigurationTabGroup"   
      		id= "org.nodeclipse.enide.gradle.launch.LaunchConfigurationTabGroup"   
        	type= "org.nodeclipse.enide.gradle.launch.LaunchConfigurationType" >   
		</launchConfigurationTabGroup>
   </extension>
    <!-- build.gradle run as gradle build -->  
    <extension   
          point= "org.eclipse.debug.ui.launchShortcuts" >   
       <shortcut   
             class= "org.nodeclipse.enide.gradle.launch.LaunchShortcut"   
             icon= "icons/gradle-icon-16x16_bottom_right_corner_run_half_size.png"
             id= "org.nodeclipse.enide.gradle.launch.LaunchShortcut"   
             label= "gradle build"   
             modes= "run" >   
          <configurationType
                id= "org.nodeclipse.enide.gradle.launch.LaunchConfigurationType" >
          </configurationType>   
           <contextualLaunch>   
              <enablement>   
                 <with   
                       variable= "selection" >   
                    <count   
                          value= "1" >   
                    </count>   
                    <iterate>   
                       <or>   
                          <test   
                                property= "org.eclipse.debug.ui.matchesPattern"   
                                value= "*.gradle" >   
                          </test>   
                       </or>   
                    </iterate>   
                 </with>   
              </enablement>   
           </contextualLaunch>   
       </shortcut>   
   </extension>


   <!-- for gradle jettyRun -->
	<extension 
          point="org.eclipse.debug.core.launchConfigurationTypes"> 
        <launchConfigurationType 
            delegate="org.nodeclipse.enide.gradle.launch.jetty.LaunchConfigurationDelegate" 
            id="org.nodeclipse.enide.gradle.launch.jetty.LaunchConfigurationType" 
            modes="run" 
            name="gradle jettyRun">
        </launchConfigurationType> 
    </extension>
    <extension
          point= "org.eclipse.debug.ui.launchConfigurationTypeImages" >   
       <launchConfigurationTypeImage   
             configTypeID= "org.nodeclipse.enide.gradle.launch.jetty.LaunchConfigurationType"   
             icon= "icons/gradle-icon-16x16.png"   
             id= "org.nodeclipse.enide.gradle.launch.jetty.LaunchConfigurationTypeImage" >   
       </launchConfigurationTypeImage>   
    </extension>
    <extension
        point="org.eclipse.debug.ui.launchConfigurationTabGroups">
        <launchConfigurationTabGroup   
       		class= "org.nodeclipse.enide.gradle.launch.jetty.LaunchConfigurationTabGroup"   
      		id= "org.nodeclipse.enide.gradle.launch.jetty.LaunchConfigurationTabGroup"   
        	type= "org.nodeclipse.enide.gradle.launch.jetty.LaunchConfigurationType" >   
		</launchConfigurationTabGroup>
   </extension>
    <!-- build.gradle run as gradle jettyRun -->  
    <extension   
          point= "org.eclipse.debug.ui.launchShortcuts" >   
       <shortcut   
             class= "org.nodeclipse.enide.gradle.launch.jetty.LaunchShortcut"   
             icon= "icons/gradle-icon-16x16_bottom_right_corner_run_half_size.png"
             id= "org.nodeclipse.enide.gradle.launch.jetty.LaunchShortcut"   
             label= "gradle jetty:run Gradle start"   
             modes= "run" >   
          <configurationType
                id= "org.nodeclipse.enide.gradle.launch.jetty.LaunchConfigurationType" >
          </configurationType>   
           <contextualLaunch>   
              <enablement>   
                 <with   
                       variable= "selection" >   
                    <count   
                          value= "1" >   
                    </count>   
                    <iterate>   
                       <or>   
                          <test   
                                property= "org.eclipse.debug.ui.matchesPattern"   
                                value= "*.gradle" >   
                          </test>   
                       </or>   
                    </iterate>   
                 </with>   
              </enablement>   
           </contextualLaunch>   
       </shortcut>   
   </extension>


   
   <!-- for GUI -->
	<extension 
          point="org.eclipse.debug.core.launchConfigurationTypes"> 
        <launchConfigurationType 
            delegate="org.nodeclipse.enide.gradle.launchgui.LaunchConfigurationDelegate" 
            id="org.nodeclipse.enide.gradle.launchgui.LaunchConfigurationType" 
            modes="run" 
            name="Gradle GUI">
        </launchConfigurationType> 
    </extension>
    <extension
          point= "org.eclipse.debug.ui.launchConfigurationTypeImages" >   
       <launchConfigurationTypeImage   
             configTypeID= "org.nodeclipse.enide.gradle.launchgui.LaunchConfigurationType"   
             icon= "icons/gradle-icon-16x16.png"   
             id= "org.nodeclipse.enide.gradle.launchgui.LaunchConfigurationTypeImage" >   
       </launchConfigurationTypeImage>   
    </extension>
    <extension
        point="org.eclipse.debug.ui.launchConfigurationTabGroups">
        <launchConfigurationTabGroup   
       		class= "org.nodeclipse.enide.gradle.launchgui.LaunchConfigurationTabGroup"   
      		id= "org.nodeclipse.enide.gradle.launchgui.LaunchConfigurationTabGroup"   
        	type= "org.nodeclipse.enide.gradle.launchgui.LaunchConfigurationType" >   
		</launchConfigurationTabGroup>
   </extension>
    <!-- build.gradle run as Gradle GUI -->  
    <extension   
          point= "org.eclipse.debug.ui.launchShortcuts" >   
       <shortcut   
             class= "org.nodeclipse.enide.gradle.launchgui.LaunchShortcut"   
             icon= "icons/gradle-icon-16x16.png"
             id= "org.nodeclipse.enide.gradle.launchgui.LaunchShortcut"   
             label= "Gradle GUI"   
             modes= "run" >   
          <configurationType
                id= "org.nodeclipse.enide.gradle.launchgui.LaunchConfigurationType" >
          </configurationType>   
           <contextualLaunch>   
              <enablement>   
                 <with   
                       variable= "selection" >   
                    <count   
                          value= "1" >   
                    </count>   
                    <iterate>   
                       <or>   
                          <test   
                                property= "org.eclipse.debug.ui.matchesPattern"   
                                value= "*.gradle" >   
                          </test>   
                       </or>   
                    </iterate>   
                 </with>   
              </enablement>   
           </contextualLaunch>   
       </shortcut>   
   </extension>
   


   <extension
         point="org.eclipse.help.toc">
      <toc
            file="HelpToc.xml"
            primary="true">
      </toc>
   </extension>

  <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.nodeclipse.enide.gradle.preferences.GradlePreferenceInitializer">
      </initializer>
  </extension>
    <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.nodeclipse.enide.gradle.preferences.GradlePreferencePage"
            id="org.nodeclipse.enide.gradle.preferences.GradlePreferencePage"
            name="Gradle(Enide)">
      </page>
   </extension>

</plugin>
