<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.nodeclipse.ui.wizards.category"
            name="Nodeclipse">
      </category>
      <wizard
            category="org.nodeclipse.ui.wizards.category"
            class="org.nodeclipse.jjs.wizards.NashornProjectWizard"
            finalPerspective="org.nodeclipse.ui.perspectives.NodePerspective"
            icon="icons/nashorn_16x16_top_right_corner_new.png"
            id="org.nodeclipse.jjs.wizards.NashornProjectWizard"
            name="Nashorn Project"
            project="true">
         <description>
            Create a new Nashorn project (or add .project file to an existing project)
         </description>
      </wizard>
   </extension>

   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="icons/nashorn_16x16.png"
            id="org.nodeclipse.jjs.NashornNature.Image"
            natureId="org.nodeclipse.jjs.NashronNature">
      </image>
   </extension>
   <extension
         id="org.nodeclipse.jjs.NashronNature"
         name="Nashorn Project Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.nodeclipse.jjs.nature.NashornNature">
         </run>
      </runtime>
   </extension>


   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.nodeclipse.ui.editors.NodeEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            default="true"
            extensions="jjs"
            icon="icons/java_16x16.png"
            id="org.nodeclipse.jjs.editors.JJSEditor"
            name="JJS Editor">
      </editor>
    </extension>

	<extension 
          point="org.eclipse.debug.core.launchConfigurationTypes"> 
        <launchConfigurationType 
            delegate="org.nodeclipse.jjs.launch.LaunchConfigurationDelegate" 
            id="org.nodeclipse.jjs.launch.LaunchConfigurationType" 
            modes="run, debug" 
            name="JJS Application">
        </launchConfigurationType> 
    </extension>
    <extension
          point= "org.eclipse.debug.ui.launchConfigurationTypeImages" >   
       <launchConfigurationTypeImage   
             configTypeID= "org.nodeclipse.jjs.launch.LaunchConfigurationType"   
             icon= "icons/nashorn_16x16_bottom_right_corner_run_half_size.png"   
             id= "org.nodeclipse.jjs.launch.LaunchConfigurationTypeImage" >   
       </launchConfigurationTypeImage>   
    </extension>
    <!-- jjs run/debug -->  
    <extension   
          point= "org.eclipse.debug.ui.launchShortcuts" >   
       <shortcut   
             class= "org.nodeclipse.jjs.launch.LaunchShortcut"   
             icon= "icons/nashorn_16x16_bottom_right_corner_run_half_size.png"
             id= "org.nodeclipse.debug.launch.LaunchShortcut"   
             label= "JJS Application"   
             modes= "run, debug" >   
          <configurationType
                id= "org.nodeclipse.jjs.launch.LaunchConfigurationType" >
          </configurationType>   
           <contextualLaunch>   
              <enablement>   
                 <with   
                       variable= "selection" >   
                    <count   
                          value= "1" >   
                    </count>   
                    <iterate>   
                       <or>   
                          <test   
                                property= "org.eclipse.debug.ui.matchesPattern"   
                                value= "*.js" >   
                          </test>   
                          <test   
                                property= "org.eclipse.debug.ui.matchesPattern"   
                                value= "*.jjs" >   
                          </test>   
                       </or>   
                    </iterate>   
                 </with>   
              </enablement>   
           </contextualLaunch>   
       </shortcut>   
   </extension>
   

   <extension
        point="org.eclipse.debug.ui.launchConfigurationTabGroups">
        <launchConfigurationTabGroup   
       		class= "org.nodeclipse.jjs.launch.LaunchConfigurationTabGroup"   
      		id= "org.nodeclipse.jjs.launch.LaunchConfigurationTabGroup"   
        	type= "org.nodeclipse.jjs.launch.LaunchConfigurationType" >   
		</launchConfigurationTabGroup>
   </extension>

   <extension
         point="org.eclipse.help.toc">
      <toc
            file="HelpToc.xml"
            primary="true">
      </toc>
   </extension>

</plugin>
