<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.nodeclipse.ui.wizards.category"
            name="Nodeclipse">
      </category>
      <wizard
            category="org.nodeclipse.ui.wizards.category"
            class="org.nodeclipse.phantomjs.wizards.PhantomjsProjectWizard"
            finalPerspective="org.nodeclipse.ui.perspectives.NodePerspective"
            icon="icons/phantomjs.png"
            id="org.nodeclipse.phantomjs.wizards.PhantomjsProjectWizard"
            name="PhantomJS Project"
            project="true">
         <description>
            Create a new PhantomJS project (or add .project file to an existing project)
         </description>
      </wizard>
   </extension>

   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="icons/phantomjs.png"
            id="org.nodeclipse.phantomjs.PhantomjsNature.Image"
            natureId="org.nodeclipse.phantomjs.PhantomjsNature">
      </image>
   </extension>
   <extension
         id="org.nodeclipse.phantomjs.PhantomjsNature"
         name="PhantomJS Project Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.nodeclipse.phantomjs.nature.PhantomjsNature">
         </run>
      </runtime>
   </extension>


   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.nodeclipse.ui.editors.NodeEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            default="true"
            extensions="pjs"
            icon="icons/phantomjs.png"
            id="org.nodeclipse.phantomjs.editors.PhantomjsEditor"
            name="PhantomJS Editor">
      </editor>
    </extension>
    
	<extension 
          point="org.eclipse.debug.core.launchConfigurationTypes"> 
        <launchConfigurationType 
            delegate="org.nodeclipse.phantomjs.launch.LaunchConfigurationDelegate" 
            id="org.nodeclipse.phantomjs.launch.LaunchConfigurationType" 
            modes="run, debug"
            name="PhantomJS Script">
        </launchConfigurationType> 
    </extension>
    <extension
          point= "org.eclipse.debug.ui.launchConfigurationTypeImages" >   
       <launchConfigurationTypeImage   
             configTypeID= "org.nodeclipse.phantomjs.launch.LaunchConfigurationType"   
             icon= "icons/phantomjs.png"   
             id= "org.nodeclipse.phantomjs.launch.LaunchConfigurationTypeImage" >   
       </launchConfigurationTypeImage>   
    </extension>
    <!-- phantomjs run/debug -->  
    <extension   
          point= "org.eclipse.debug.ui.launchShortcuts" >   
       <shortcut   
             class= "org.nodeclipse.phantomjs.launch.LaunchShortcut"   
             icon= "icons/phantomjs.png"
             id= "org.nodeclipse.phantomjs.launch.LaunchShortcut"   
             label= "PhantomJS Script"   
             modes= "run, debug" >
          <configurationType
                id= "org.nodeclipse.phantomjs.launch.LaunchConfigurationType" >
          </configurationType>   
           <contextualLaunch>   
              <enablement>   
                 <with   
                       variable= "selection" >   
                    <count   
                          value= "1" >   
                    </count>   
                    <iterate>   
                       <or>   
                          <test   
                                property= "org.eclipse.debug.ui.matchesPattern"   
                                value= "*.js" >   
                          </test>   
                          <test   
                                property= "org.eclipse.debug.ui.matchesPattern"   
                                value= "*.pjs" >   
                          </test>   
                       </or>   
                    </iterate>   
                 </with>   
              </enablement>   
           </contextualLaunch>   
       </shortcut>   
   </extension>
   

   <extension
        point="org.eclipse.debug.ui.launchConfigurationTabGroups">
        <launchConfigurationTabGroup   
       		class= "org.nodeclipse.phantomjs.launch.LaunchConfigurationTabGroup"   
      		id= "org.nodeclipse.phantomjs.launch.LaunchConfigurationTabGroup"   
        	type= "org.nodeclipse.phantomjs.launch.LaunchConfigurationType" >   
		</launchConfigurationTabGroup>
   </extension>
</plugin>
